[user]
    name = pineapple
    email = josephryan3.14@gmail.com
	signingkey = ~/.ssh/id_ed25519.pub
[core]
    editor = nvim
	excludesfile = ~/.gitignore
    autocrlf = input
    pager = delta
[alias]
    b = branch
    s = status
    c = commit --verbose
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m
    d = diff
    f = fetch --all
    ls = ls-files
    ll = "!log() { GIT_PAGER='less -+X' git log --pretty=\
format:\"%C(yellow)%h %Cred%ad %Cblue%>(14,mtrunc)%an%Cgreen%d \
%Creset%<|(-1,trunc)%s\" $@; } ; log"
    l = ll -n 20
    vi = "!vi() { git diff ${@:-HEAD^} --diff-filter=d --name-only | xargs nvim; } ; vi"
    changed = diff --stat HEAD~1
[log]
    date=format:%m/%d/%y
[gpg]
	format = ssh
[commit]
	gpgsign = true
[push]
    default = matching
[pager]
    branch = false
[branch]
    autosetuprebase = always
[submodule]
    recurse = true
[diff]
    colorMoved = default
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[http]
    cookiefile = ~/.gitcookies
[merge]
    tool = nvimdiff
    conflictstyle = zdiff3
[mergetool]
    keepBackup = false
    prompt = true
[mergetool "nvimdiff"]
    layout = "LOCAL,BASE,REMOTE / MERGED + BASE,LOCAL + \
        BASE,REMOTE + (LOCAL/BASE/REMOTE),MERGED"
