.tabbrowser-tab:not([pinned]) {
  min-width: 26px !important;
}

.tab-content {
  padding: 0 4px !important;
  min-width: 18px !important;
}

.tab-close-button,
.tabs-newtab-button,
#new-tab-button {
  display: none !important;
}

.titlebar-placeholder[type="pre-tabs"],
.titlebar-placeholder[type="post-tabs"] {
  display:none !important;
}
