[user]
    name = Joseph Ryan
    email = josephryan3.14@gmail.com
[core]
    editor = nvim
	excludesfile = ~/.gitignore
    autocrlf = input
    pager = delta
[alias]
    a = add
    b = branch
    s = status
    changed = diff --stat HEAD~1
    c = commit --verbose
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m
    d = diff
    f = fetch
    fo = fetch origin
    fu = fetch upstream
    ls = ls-files
    pr = prune -v
    l = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%<(12,mtrunc)%an%Cgreen%d %Creset%<(60,trunc)%s'
    vi = "!vi() { git diff ${@:-HEAD^} --name-only | xargs nvim; } ; vi"
[log]
    date=format:%-m/%-d/%y
[push]
    default = matching
[pager]
    branch = false
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[branch]
    autosetuprebase = always
[submodule]
    recurse = true
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[diff]
    colorMoved = default
[merge]
    tool = nvimdiff
    conflictstyle = zdiff3
[mergetool]
    keepBackup = false
    prompt = true
[mergetool "nvimdiff"] # TODO: fugitive? or just some key bindings?
    layout = "LOCAL,BASE,REMOTE / MERGED + BASE,LOCAL + \
        BASE,REMOTE + (LOCAL/BASE/REMOTE),MERGED"
[http]
    cookiefile = ~/.gitcookies
