{
	log {
		format console {
			time_key "" # journalctl already provides timestamps
		}
	}
	metrics {
		per_host
		observe_catchall_hosts
	}
	email "juliaryan3.14@gmail.com"
}

(log) {
	log {
		output file /var/log/caddy/"{args[0]}".log {
			mode 644
		}
	}
}

(auth) {
	basic_auth {
		julia {$HTTP_BASIC_AUTH_PASSWORD}
	}
}

julia.blue pineapple.computer julia.is.fckn.gay xn--ni8h.is.fckn.gay {
	root /media/static
	encode
	try_files {path} {path}.html
	file_server {
		browse
		precompressed
	}
	handle_errors {
		rewrite /{err.status_code}.html
		file_server
	}
	import log main
}

stats.pineapple.computer {
	reverse_proxy localhost:9001
	import log stats
	import auth
}

atuin.pineapple.computer {
	reverse_proxy localhost:9002
	import log atuin
}

sync.pineapple.computer {
	reverse_proxy localhost:9003
	import log sync
	import auth
}

db.pineapple.computer {
	reverse_proxy localhost:9004
	import log pgadmin
	import auth
}
