action = copy
skin-tone = neutral
max-recent = 5
files = [emojis, greek_and_coptic, mathematical_operators, general_punctuation, arrows, latin-1_supplement, latin_extended-a, latin_extended_additional, currency_symbols, superscripts_and_subscripts, chess_symbols, mathematical_alphanumeric_symbols, katakana, hiragana, miscellaneous_symbols, miscellaneous_mathematical_symbols-a, miscellaneous_mathematical_symbols-b, miscellaneous_symbols_and_pictographs, miscellaneous_symbols_and_arrows, alchemical_symbols, musical_symbols, symbols_for_legacy_computing, transport_and_map_symbols, letterlike_symbols, geometric_shapes, geometric_shapes_extended]
