[Desktop Entry]
Name=Suspend
Comment=Sleep the system
GenericName=Sleep
Exec=/home/joseph/.config/scripts/suspend.sh
Icon=/home/joseph/.config/scripts/sleep.png
Type=Application
Categories=System
