#![enable(implicit_some, unwrap_newtypes, unwrap_variant_newtypes)]
(
    theme: "theme.ron",
    scrolloff: 5,
    rewind_to_start_sec: 5,
    select_current_song_on_change: true,
    album_art: (
        method: Auto,
        max_size_px: (width: 1200, height: 1200),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    keybinds: (
        global: {
            ":": CommandMode,
            ",": VolumeDown,
            "s": Stop,
            ".": VolumeUp,
            "<Tab>": NextTab,
            "<S-Tab>": PreviousTab,
            "1": SwitchToTab("Queue"),
            "2": SwitchToTab("Albums"),
            "3": SwitchToTab("Artists"),
            "4": SwitchToTab("Playlists"),
            "5": SwitchToTab("Search"),
            "q": Quit,
            ">": NextTrack,
            "p": TogglePause,
            "<": PreviousTrack,
            "f": SeekForward,
            "z": ToggleRepeat,
            "x": ToggleRandom,
            "c": ToggleConsume,
            "v": ToggleSingle,
            "b": SeekBack,
            "~": ShowHelp,
            "u": Update,
            "U": Rescan,
            "I": ShowCurrentSongInfo,
            "O": ShowOutputs,
            "P": ShowDecoders,
            "R": AddRandom,
        },
        navigation: {
            "k": Up,
            "j": Down,
            "h": Left,
            "l": Right,
            "<Up>": Up,
            "<Down>": Down,
            "<Left>": Left,
            "<Right>": Right,
            "<C-k>": PaneUp,
            "<C-j>": PaneDown,
            "<C-h>": PaneLeft,
            "<C-l>": PaneRight,
            "<C-u>": UpHalf,
            "N": PreviousResult,
            "a": Add,
            "A": AddAll,
            "r": Rename,
            "n": NextResult,
            "g": Top,
            "<Space>": Select,
            "<C-Space>": InvertSelection,
            "G": Bottom,
            "<CR>": Confirm,
            "i": FocusInput,
            "J": MoveDown,
            "<C-d>": DownHalf,
            "/": EnterSearch,
            "<C-c>": Close,
            "<Esc>": Close,
            "K": MoveUp,
            "D": Delete,
            "B": ShowInfo,
        },
        queue: {
            "D": DeleteAll,
            "<CR>": Play,
            "<C-s>": Save,
            "a": AddToPlaylist,
            "d": Delete,
            "C": JumpToCurrent,
            "X": Shuffle,
        },
    ),
    tabs: [
        (
            name: "Queue",
            pane: Pane(Queue),
        ),
        (
            name: "Artists",
            pane: Pane(Artists),
        ),
         (
            name: "Albums",
            pane: Pane(Albums),
        ),
        (
            name: "Playlists",
            pane: Pane(Playlists),
        ),
        (
            name: "Search",
            pane: Pane(Search),
        ),
    ],
)
