#![enable(implicit_some, unwrap_newtypes, unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    draw_borders: false,
    show_song_table_header: false,
    symbols: (song: "", dir: "", playlist: "󰲸", marker: "\u{e0b0}", ellipsis: "…"),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "8",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "21",
                            pane: Pane(AlbumArt),
                        ),
                        (
                            size: "100%",
                            pane: Split(
                                direction: Vertical,
                                panes: [
                                    ( size: "6", pane: Pane(Header), ),
                                    ( size: "1", pane: Pane(ProgressBar), ),
                                    ( size: "3", pane: Pane(Tabs), ),
                                ]
                            )
                        ),
                    ]
                ),
            ),
            (
                size: "100%",
                pane: Pane(TabContent),
            ),
        ],
    ),
    progress_bar: (
        symbols: ["█", "", " "],
        track_style: (bg: "#1e2030"),
        elapsed_style: (fg: "#c6a0f6", bg: "#1e2030"),
        thumb_style: (fg: "#c6a0f6", bg: "#1e2030"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "#b7bdf8"),
    ),
    browser_column_widths: [20, 38, 42],
    text_color: "#cad3f5",
    background_color: "#24273a",
    header_background_color: "#1e2030",
    modal_background_color: None,
    modal_backdrop: false,
    tab_bar: (active_style: (fg: "black", bg: "#c6a0f6", modifiers: "Bold"), inactive_style: ()),
    borders_style: (fg: "#6e738d"),
    highlighted_item_style: (fg: "#c6a0f6", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "#b7bdf8", modifiers: "Bold"),
    highlight_border_style: (fg: "#b7bdf8"),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "#b7bdf8"), default: (kind: Text("Unknown"))),
            width: "50%",
            alignment: Right,
        ),
        (
            prop: (kind: Text("-"), style: (fg: "#b7bdf8"), default: (kind: Text("Unknown"))),
            width: "1",
            alignment: Center,
        ),
        (
            prop: (kind: Property(Title), style: (fg: "#7dc4e4"), default: (kind: Text("Unknown"))),
            width: "50%",
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Property(Song(Title)), style: (fg: "#7dc4e4", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "#7dc4e4", modifiers: "Bold"))
                    ),
                ],
                center: [ ],
                right: [
                ],
            ), (
                left: [
                    (kind: Property(Song(Album)), style: (fg: "#eed49f", modifiers: "Bold"),
                        default: (kind: Text("Unknown Album"), style: (fg: "#eed49f", modifiers: "Bold"))
                    ),
                ],
                center: [],
                right: [],
            ), (
                left: [
                    (kind: Property(Song(Artist)), style: (fg: "#8aadf4", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "#8aadf4", modifiers: "Bold"))
                    ),
                ],
                center: [
                    (kind: Text(" - ")),
                ],
                right: [ ],
            ), (
                left: [ ],
                center: [
                (kind: Property(Widget(States(
                        active_style: (fg: "white", modifiers: "Bold"),
                        separator_style: (fg: "white")))
                    ),
                    style: (fg: "dark_gray")
                ),
                ],
                right: [ ],
            ), (
                left: [
                    (kind: Text("["), style: (fg: "#b7bdf8", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "#b7bdf8", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "#b7bdf8", modifiers: "Bold")),
                ],
                center: [
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                ],
                right: [
                    (kind: Text(" (")),
                    (kind: Property(Status(Bitrate))),
                    (kind: Text(" kbps)"))
                ],
            ),
        ],
    ),
)
